.logout-container {
	display: flex;
	justify-content: flex-end;
}
.form-fields-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input-box{
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.pdf-container{
  display: none;
}
.data-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fields-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

//inputs validation
.ng-touched.ng-invalid-required {
  border-color: red;
}
/* Show red border when stuff has been typed in, but its invalid */
.ng-dirty.ng-invalid {
  border-color: red;
}
.ng-touched.ng-invalid{
  border-color: red;
}
.ng-submitted input.ng-invalid{
  border-color: red;
}
