//Use this file to declare variables for colors
$blue-50: #5246d3;
$blue-70: #3328A6;
$white: #ffffff;
$black: #19163B;
$grey-10: #E8E8EB;
$grey-20: #D6D6DE;
$background-translucent-5: rgba(25, 22, 59, 0.05);
$background-translucent-10: rgba(25, 22, 59, 0.1);
$background-translucent-20: rgba(25, 22, 59, 0.2);
$background-translucent-40: rgba(25, 22, 59, 0.4);
$background-translucent-60: rgba(25, 22, 59, 0.6);
$background-translucent-80: rgba(25, 22, 59, 0.8);
$invalid-red: #E24040;
